<div class="cSmallCard">
  <div class="cSmallCardContent">
    <div class="imgSmallCard">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781649374042.jpg" alt="Book">
    </div>
    <div class="dataSmallCard">
      <div class="titleSmallCard">
        <h2>
          <a href="https://www.amazon.com/dp/1649374046?tag=NYTBSREV-20">FOURTH WING</a>
        </h2>
      </div>
      <div class="authorSmallCard">
        <p>by Rebecca Yarros</p>
      </div>
    </div>
  </div>
  <div class="dvSmallCard">
    <hr>
  </div>
</div>
