<router-outlet></router-outlet>
<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="ctArticles">
  <div class="mainArticle">
    <app-big-card
      bookCover="https://storage.googleapis.com/du-prd/books/images/9780593299425.jpg"
      bookTitle="THE LAST DEVIL TO DIE"
      bookAuthor="Richard Osman"
      bookIntro="The fourth book in the Thursday Murder Club series. When an old friend is killed, the gang comes up against drug dealers, art forgers and online fraudsters."
      bookUrl="https://www.amazon.com/dp/0593299426?tag=NYTBSREV-20"
    >

    </app-big-card>
  </div>
  <div class="subArticles">
    <app-small-card
      bookCover="https://storage.googleapis.com/du-prd/books/images/9781649374042.jpg"
      bookTitle="FOURTH WING"
      bookAuthor="Rebecca Yarros"
    ></app-small-card>
    <app-small-card
      bookCover="https://storage.googleapis.com/du-prd/books/images/9781668016138.jpg"
      bookTitle="HOLLY"
      bookAuthor="Stephen King"
    ></app-small-card>
    <app-small-card
      bookCover="https://storage.googleapis.com/du-prd/books/images/9780063327528.jpg"
      bookTitle="TOM LAKE"
      bookAuthor="Ann Patchett"
    ></app-small-card>
  </div>
</div>
